<div class="callout callout--primary">
    <div class="grid grid__1x2">
        <div class="callout--content">
            <h2 class="callout--heading">Ready To Get Start</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, vel rem! Deserunt ex pariatur
                repellat reiciendis voluptate? Quo vero illo cumque minima incidunt sapiente iste reprehenderit
                fugiat,
                nostrum praesentium! Perspiciatis!</p>
        </div>

        <a href="#" class="btn btn--secondary btn--screched">Get Started</a>
        <div>
        </div>
    </div>
</div>