<div class="collaspable collaspable--expanded">
    <header class="collaspable--header">
        <h2 class="collaspable--heading">item 1</h2>
        <svg class="icon icon--white collaspable--chevron">
            <use xlink:href="Images/sprite.svg#chevron"></use>
        </svg>
    </header>
    <div class="collaspable--content">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit praesentium incidunt accusamus soluta atque.
        Aut numquam asperiores, ab eaque incidunt minima nam ducimus quam mollitia id neque provident aspernatur esse?
    </div>
</div>