
<footer class="blocks block--dark footer">
    <div class="container grid footer__sections">
        <section class="collaspable collaspable--expanded footer__section">
            <header class="collaspable--header footer--heading">
                <h2 class="collaspable--heading">Products</h2>
                <svg class="icon icon--white collaspable--chevron">
                    <use xlink:href="Images/sprite.svg#chevron"></use>
                </svg>
            </header>
            <div class="collaspable--content">
                <ul class="list">
                    <li><a href="#">Website Hosting</a></li>
                    <li><a href="#">Free Automated WordPress</a></li>
                    <li><a href="#">Migrations</a></li>
                </ul>
            </div>
        </section>


        <section class="collaspable footer__section">
            <header class="collaspable--header footer--heading">
                <h2 class="collaspable--heading">Company</h2>
                <svg class="icon icon--white collaspable--chevron">
                    <use xlink:href="Images/sprite.svg#chevron"></use>
                </svg>
            </header>
            <div class="collaspable--content">
                <ul class="list">
                    <li><a href="#">About</a></li>
                    <li><a href="#">Affilites</a></li>
                    <li><a href="#">Blog</a></li>
                </ul>
            </div>
        </section>


        <section class="collaspable footer__section">
            <header class="collaspable--header footer--heading">
                <h2 class="collaspable--heading">Support</h2>
                <svg class="icon icon--white collaspable--chevron">
                    <use xlink:href="Images/sprite.svg#chevron"></use>
                </svg>
            </header>
            <div class="collaspable--content">
                <ul class="list">
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Knowdlege Base</a></li>
                    <li><a href="#">FQa</a></li>
                </ul>
            </div>
        </section>



        <section class="collaspable footer__section">
            <header class="collaspable--header footer--heading">
                <h2 class="collaspable--heading">Domain</h2>
                <svg class="icon icon--white collaspable--chevron">
                    <use xlink:href="Images/sprite.svg#chevron"></use>
                </svg>
            </header>
            <div class="collaspable--content">
                <ul class="list">
                    <li><a href="#">Domain Cheker</a></li>
                    <li><a href="#">Domain Base</a></li>
                    <li><a href="#">Free Domain</a></li>
                </ul>
            </div>
        </section>

        <section class="footer--brand">
            <img src="Images/logo.svg" alt="brand" />
            <p class="footer__copyright">copyright 2024 sayli nagpure</p>
        </section>
    </div>

</footer>