<div class="quote">
    <div class="quote__text">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Expedita beatae ea laborum iusto autem nesciunt at
            accusamus tenetur molestiae? Repellendus, cupiditate tenetur. Error aspernatur voluptas quidem, animi
            delectus ipsa nostrum.</p>
    </div>
    <footer>
        <div class="media">
            <div class="media__image">
                <svg class="icon icon-up">
                    <use xlink:href="Images/sprite.svg#line"></use>
                </svg>
            </div>
            <div class="media__body">
                <h3 class="media__title removemargin">Sayli Nagpure</h3>
                <p>A squre conpany</p>
            </div>
        </div>
    </footer>
</div>